<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="row">
            <div class="col-8">
              <h4 class="card-title">{{ destinations.length }} destinos cadastrados</h4>
            </div>        
            <div class="col-4 text-right">
              <a href="destinos/incluir">Incluir novo</a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <ngx-datatable #DestinationsTable
          class='material'
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="'auto'"
          [limit]="10"
          [rows]='rows'
          [messages]="messages"
        >
          <ngx-datatable-column name="#" prop="id" [width]="20">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              {{row.id}}
            </ng-template>
          </ngx-datatable-column> 
          <ngx-datatable-column name="Destino" prop="name">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              {{row.name}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Mensagem SMS" prop="smsmessage">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              {{row.smsmessage}}
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Ação" prop="action" [width]="20">
            <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
              <a routerLink="/destinos/editar/{{row.id}}">
                <i class="btn-action fas fa-edit" aria-hidden="true"></i>
              </a>
              <button class="btn-remove" (click)="removeDestination(row)" [disabled]="submitted"><i class="fas fa-trash" aria-hidden="true"></i></button>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>
</div>