#loginform {
    .logo {
        text-align: center;
        img {
            width: 150px                                                            ;
        }
    }
    button {
        img {
            width: 28px;
            position: absolute;
            right: 20px;
        }
    }
}